/* GLOBAL */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    letter-spacing: 1px;
}

/* HEADER */
header{
    background-color: #ff4f81;
}

.header__left i{
    font-size: 15px;
    color: white;
    margin-right: 5px;
    padding-top: 8px;
}

.header__mail:hover{
    color: #00a98f;
}

.header__mail{
    transition: all .5s;
    cursor: pointer;
}

.header__text{
    margin-right: 28px;
}

.header__left span{
    font-size: 14px;
    color: white;
}

.header__right i{
    font-size: 15px;
    padding: 8px 10px;
    background-color: #333;
    color: white;
    border: solid 1px #333;
    cursor: pointer;
    transition: all .7s;
    margin-left: 2px;
}

.header__right i:hover{
    background-color: #ff4f81;
    border-color: white;
}

/* MENU */
.menu__logo p{
    color: #ff4f81;
    font-size: 11px;
    letter-spacing: 3px;
    font-weight: bold;
    margin-top: -5px;
    margin-bottom: 0;
}

.menu__logo h1{
    font-size: 36px;
    font-weight: bold;
}

.navbar-nav .nav-item.active{
    color: #ff4f81;
}

.navbar-nav li{
    margin-left: 30px;
}

.navbar-nav .nav-item a{
    color: #282828;
    font-size: 0.9em;
    letter-spacing: 1px;
    font-weight: 600;
    padding: 14px 8px;
    transition: all .5s;
}

.navbar-nav .nav-item:hover .nav-link{
    color: #ff4f81;
}

.navbar-nav .nav-item:hover .nav-item__line{
    width: 100%;
}

.navbar-nav .nav-item .nav-item__line.active{
    width: 100%;
}

.navbar-nav .nav-item .nav-item__line{
    width: 0;
    background-color: #ff4f81;
    height: 2px;
    transition: all .5s;
}

.navbar-nav .dropdown-menu a{
    padding: 5px 15px;
    font-size: 14px;
    color: white;
    font-weight: 300;
    text-align: center;
    transition: all .5;
}

.navbar-nav .dropdown-menu a:hover{
    background: none;
    color: #ff4f81;
}

.navbar-nav .dropdown-menu{
    background-color: rgba(0, 0, 0, 0.65);
    padding: 5px;
}

/* CAROUSEL */
.Inscarousel .carousel-item .carousel-caption{
    bottom: 32%;
}

.Inscarousel .carousel-item .carousel-caption h1{
    font-size: 3.3em;
    font-weight: 300;
    letter-spacing: 1px;
    margin-bottom: 0;
}

.Inscarousel .carousel-item .carousel-caption h1 span{
    font-weight: 600;
}

.Inscarousel .carousel-item .carousel-caption p{
    width: 70%;
    font-size: 1em;
    line-height: 1.8em;
    font-weight: 300;
    margin: 16px auto 32px;
    letter-spacing: 4px;
}

.Inscarousel .carousel-item .carousel-caption button{
    background: none;
    padding: 11px 20px;
    color: white;
    font-size: 0.9em;
    letter-spacing: 1px;
    border: solid 1px white;
    transition: all .7s;
}

.Inscarousel .carousel-item .carousel-caption button:hover{
    background-color: #ff4f81;
    border-color: #ff4f81;
}

.Inscarousel .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid white;
    opacity: 1;
    background-clip: border-box;   
    margin: 0 4px;
}

.Inscarousel .carousel-indicators li.active{
    background-color: white;
}

.Inscarousel .carousel-indicators{
    bottom: 25%;
}

.Instruction__modal .modal-header h1{
    color: #ff4f81;
    font-size: 29px;
    font-weight: 600;
    margin-bottom: 0;
}

.Instruction__modal .modal-body p{
    font-size: 14px;
    color: #777;
    padding: 20px 0;
    line-height: 1.8em;
    margin-bottom: 0;
}

@media screen and (max-width:1366px){
    .Inscarousel .carousel-item .carousel-caption{
        bottom: 24%;
    }
    .Inscarousel .carousel-item .carousel-caption h1{
        font-size: 48px;
    }
    .Inscarousel .carousel-item .carousel-caption p{
        font-size: 16px;
    }
    .Inscarousel .carousel-indicators{
        bottom: 14%;
    }
}

@media screen and (max-width:991px){
    .Inscarousel .carousel-item .carousel-caption{
        bottom: 13%;
    }
    .Inscarousel .carousel-item .carousel-caption h1{
        font-size: 41.6px;
    }
    .Inscarousel .carousel-item .carousel-caption p{
        font-size: 16px;
    }
    .Inscarousel .carousel-indicators{
        bottom: 3%;
    }
}

/* WELCOME */
.welcome{
    padding: 80px 0;
}

.welcome h1{
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 40px;
    text-align: center;
    color: #ff4f81;
}

.welcome h2{
    font-size: 17px;
    margin-top: 17px;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-align: center;
}

.welcome .welcome__line{
    width: 70px;
    height: 2px;
    background-color: #212121;
    margin: 0 auto;
    margin-bottom: 60px;
}

.welcome .welcome__title{
    width: 80%;
    margin: 0 auto;
    font-size: 15px;
    line-height: 1.8em;
    color: #999;
    letter-spacing: 1px;
    text-align: center;
}

.welcome__table{
    padding-top: 80px;
}

.welcome__table .welcome__card{
    padding: 32px;
}

.welcome__table .card-body i{
    font-size: 32px;
}

.welcome__table .card-body h3{
    color: #ff4f81;
    font-size: 1.8em;
    margin: 20px 0;
    font-weight: 600;
}

.welcome__table .card-body h4{
    font-size: 1em;
    color: #000;
    font-weight: 600;
    margin: 16px 0 3px;
}

.welcome__table .card-body p{
    color: #999;
    font-size: 15px;
    line-height: 1.8em;
    margin-top: 10px;
}

/* STATS */
.stats{
    background-image: url(../img/banner2.jpg);
    min-height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
}

.stats{
    padding: 80px 0;
}

.stats__detail h1{
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 40px;
    text-align: center;
    color: #ff4f81;
    margin-bottom: 0;
}

.stats__detail h2{
    font-size: 17px;
    margin-top: 17px;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-align: center;  
    color: white;
}

.stats .stats__line{
    width: 70px;
    height: 2px;
    background-color: #212121;
    margin: 0 auto;
    margin-bottom: 65px;
}

.stats__detail i{
    font-size: 40px;
    color: white;
}

.stats__detail h3{
    font-size: 1.3em;
    color: #ff4f81;
    letter-spacing: 3px;
    font-weight: 600;
    margin: 30px 0 20px;
}

.stats__detail p{
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 2px;
    color: #ffffff;
    margin: 5px 0;
}

/* OFFER */
.offer{
    padding: 80px 0;
    text-align: center;
}

.offer h1{
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 40px;
    color: #ff4f81;
    margin-bottom: 0;
}

.offer h2{
    font-size: 17px;
    margin-top: 17px;
    margin-bottom: 20px;
    letter-spacing: 4px;
    color: black;
}

.offer__item{
    box-shadow: 0 0 3px 1px #aaa;
    padding: 25px 40px;
    margin-bottom: 40px;
    transition: all .7s;
}

.offer__item:hover{
    background-color: #12ccc3;
}

.offer .offer__line{
    width: 70px;
    height: 2px;
    background-color: #212121;
    margin: 0 auto;
    margin-bottom: 65px;
}

.offer__item i{
    color: #ff4f81;
    font-size: 40px;
}

.offer__item h3{
    font-size: 19px;
    margin: 25px 0 20px;
    color: #212121;
}

.offer__item p{
    font-size: 14px;
    color: #6b6b6b;
    letter-spacing: .5px;
}

/* TESTIMONIALS */
.testimonials{
    padding: 80px 0;
    background-image: url(../img/banner3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 500px;
}

.testimonials h1{
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 40px;
    text-align: center;
    color: #ff4f81;
    margin-bottom: 0;
}

.testimonials h2{
    font-size: 17px;
    margin-top: 17px;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-align: center;  
    color: white;
}

.testimonials .testimonials__line{
    width: 70px;
    height: 2px;
    background-color: #212121;
    margin: 0 auto;
    margin-bottom: 65px;
}

.testimonials__slider{
    background-color:rgba(0, 0, 0, 0.47);
    box-shadow: 0 0 2px 2px #8e8e8e;
    padding: 30px 30px;
}

.tes__box{
    width: 330px;
    height: 92px    ;
    background-color: rgba(0, 0, 0, 0.47);
    padding: 16px 24px;
    color: white;
    font-size: 0.9em;
    letter-spacing: 1px;
    margin-bottom: 30px;
    border-radius: 5px;
    position: relative;
}

.tes__box::after{
    content: '';
    border-top: solid 9px rgba(0, 0, 0, 0.47);
    border-left: solid 9px transparent;
    border-right: solid 9px transparent;
    position: absolute;
    bottom: -9px;
    left: 27%;
}

.tes__items{
    padding: 30px 30px;
}

.tes__user{
    margin-left: 27%;
}

.owl-carousel .tes__user img{
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 10px;
}

.tes__user h3{
    margin-bottom: 0;
    font-size: 1.1em;
    font-weight: 600;
    color: white;
}

.tes__user p{
    margin: 7px;
    font-size: .9em;
    color: #ff4f81;
}

.testimonials__slider .owl-dots .owl-dot span{
    background-color: #ff4f81;
    opacity: .5;
}

.testimonials__slider .owl-dots .owl-dot.active span{
    background-color: #ff4f81;
    opacity: 1;
}

.testimonials__slider .owl-dots .owl-dot:hover span{
    background-color: #ff4f81;
    opacity: 1;
}

/* NEWS */
.news{
    padding: 80px 0;
}

.news h1{
    font-weight: 600;
    letter-spacing: .5px;
    font-size: 40px;
    text-align: center;
    color: #ff4f81;
    margin-bottom: 0;
}

.news h2{
    font-size: 17px;
    margin-top: 17px;
    margin-bottom: 20px;
    letter-spacing: 4px;
    text-align: center;  
    color: black;
}

.news .news__line{
    width: 70px;
    height: 2px;
    background-color: #212121;
    margin: 0 auto;
    margin-bottom: 65px;
}

.news__detail img{
    border: solid #dedede;
    margin-bottom: 10px;
}

.news__detail .news__text h3{
    color: #000;
    font-size: 19.6px;
    font-weight: 600;
    margin-bottom: 0;
    cursor: pointer;
    transition: all .5s;
}

.news__detail .news__text h4{
    font-size: 16px;
    color: #ff4f81;
    font-weight: 600;
    margin: 16px 0;
}

.news__detail .news__text p{
    font-size: .9em;
    line-height: 1.8em;
    color: #999999;
    margin-bottom: 0;
    margin-top: 14px;
}

.news__spacing{
    width: 100%;
    height: 80px;
}

.news__detail .news__text h3:hover{
    color: #ff4f81;
}

/* FOOTER */
.footer__start{
    background-color: #141415;
    padding-top: 80px;
}

footer h1{
    font-size: 24px;
    color: #ff4f81;
    margin-bottom: 36px;
    font-weight: 600;
}

.footer__about{
    font-size: .9em;
    line-height: 2em;
    margin-bottom: 2em;
    color: #8b8b98;
}

.footer__news i{
    color: #ff4f81;
}

.footer__news span{
    line-height: 1.5em;
    color: #8b8b98;
    font-size: .9em;
    margin-left: 24px;
    cursor: pointer;
    transition: all .5s;
}

.footer__news span:hover{
    color: white;
}

.footer__contact i{
    margin-right: 24px;
    color: #fff;
    width: 32px;
    height: 32px;
    text-align: center;
    line-height: 30px;
    border: 1px solid #4b4b50;
}

.footer__contact span{
    color: #8b8b98;
    font-size: 16px
}

.footer__text{
    transition: all .5s;
    cursor: pointer;
}

.footer__text:hover{
    color: white;
}

.footer__form input{
    width: 75%;
    padding: 10px 10px;
    font-weight: 200;
    outline: none;
}

.footer__form button{
    background-color: #ff4f81;
    outline: none;
    padding: 12px 0;
    width: 20%;
    font-size: 1em;
    border: none;
    color: white;
    transition: all .5s;

}

.footer__form button:hover{
    background-color: #ec1955;
}

.footer__end{
    background-color: #0f0f10;
}

.footer__end p{
    color: white;
    padding: 16px;
    text-align: center;
}

.footer__end p span{
    color: #ff4f81;
    cursor: pointer;
    transition: all .5s;
    font-size: 14px;
    font-weight: 400;
}

.footer__end p span:hover{
    color: white;
}