/* GLOBAL */
*{
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 16px;
}

::selection{
    color: white;
    background: #ec7532;
}

/* HEADER */
header{
    position: absolute;
    z-index: 100;
    width: 100%;
    top: 30px;
    left: 50%;
    transform: translateX(-50%);
}

.header__detail i, .header__span{
    font-size: 14px;
}   

.header__detail span{
    border-color: rgba(255, 255, 255, 0.2) !important;
}

.header__navbar .nav-item .nav-link{
    color: white;
    padding: 10px 15px;
    letter-spacing: 3px;
}

.header__navbar .navbar-nav{
    border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.header__navbar .navbar-nav .nav-item::after{
    content: '';
    display: block;
    height: 3px;
    width: 0;
    background: linear-gradient(to right,#fbbd61,#ec7532);
    transition: all 300ms ease-in-out; 
}

.header__navbar .navbar-nav .nav-item:hover::after{
    width: 100%;
    box-shadow: 0 0 20px 0 #fbbd61;
}

.header__navbar .navbar-nav .nav-item.active::after{
    width: 100%;
}

/* CAROUSEL */
.carousel-item .carousel__title{
    color: #fbbd61;
    font-size: 14px;
    letter-spacing: 2px;
}

.carousel-item p{
    font-size: 18px;
    padding-right: 25%;
}

#movieCarousel .carousel-item .carousel-caption{
    text-align: left;
    top: 55%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#movieCarousel .carousel-indicators li{
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid white;
    opacity: 1;
    background-clip: border-box;   
}

#movieCarousel .carousel-indicators li.active{
    background-color: white;
}

#movieCarousel .carousel-indicators{
    justify-content: flex-start;
    left: 41.5%;
    transform: translateX(-50%);
    margin-left: 0;
    margin-right: 0;
    padding: 0 15px;
    bottom: 50px;
} 

.carousel__trailer .carousel__circle{
    width: 40px;
    height: 40px;
    border: solid 2px white;
    line-height: 38px;
    border-radius: 50%;
    padding: 15px;
}
    
.btn-orange{
    background: linear-gradient(to right,#fbbd61,#ec7532);
    border-radius: 40px;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 11px 30px;
    cursor: pointer;
    border: none;
    color: white;
    position: relative;
    overflow: hidden;
}

.btn__overlay{
    position: absolute;
    top: 0;
    left: -100%;
    transform: skewX(10deg);
    background: linear-gradient(to bottom,#ec7532,#ec7532);
    width: 100%;
    height: 100%;
    transition: all .3s;
}

.btn-orange:hover .btn__overlay{
    left: 0%;
}

.btn-orange:hover .btn__detail:focus{
    opacity: 1;
}

/* NEW IN */
.newIn{
    padding-top: 80px;
}

.newIn h1{
    color: #ec7532;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    position: relative;
}

.newIn h1::after{
    content: '';
    width: 160px;
    height: 3px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    bottom: -1px;
    left: 0;
}

.newIn__items{
    position: relative;
    overflow: hidden;
}

.newIn__items img{
    border-radius: 10px;
}

.newIn__detail{
    position: absolute;
    top: 50%;
    transform: translateY(-50%) scale(0.8);
    left: 0;
    text-align: center;
    width: 100%;
    opacity: 0;
    transition: all .2s;
}

.newIn__play{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid 2px white;
    margin: 15px auto;
    transform: scale(1);
    transition: all .5s;
}

.newIn__play:hover{
    transform: scale(0.9);
}

.newIn__detail i{
    line-height: 75px;
    font-size: 20px;
    text-align: center;
    cursor: pointer;
    text-decoration: white;
}

.newIn__detail i::after{
    content: '';
    width: 30px;
    height: 2px;
    background-color: white;
    position: absolute;
    top: 70%;
    left: 30%;
    opacity: 0;
    transition: all .5;
}

.newIn__play:hover i::after{
    opacity: 1;
}

.newIn__detail a{
    font-size: 14px;
    letter-spacing: 2px;
    margin-bottom: 15px;
}

.newIn__detail span{
    font-size: 16px;
}

.newIn__overlay{
    position: absolute;
    top: 0;
    left: -400%;
    transform: skewX(45deg);
    background: linear-gradient(to bottom,#ec7532,#fbbd61);
    width: 300%;
    height: 100%;
    transition: all .5s;
}

.newIn__items:hover .newIn__overlay{
    left: -100%;
}

.newIn__items:hover .newIn__detail{
    opacity: 1;
    transform: translateY(-50%) scale(1);
}

.newIn__name{
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 5px;
}

.newIn__star{
    color: #fbbd61;
}

.newIn__nonestar{
    color: #d8d8d8;
}

/* MODAL */
.my__modal .modal-content{
    height: 500px;
}

.my__modal iframe{
    width: 100%;
    height: 100%;
}

/* SHOWTIME */
.showTime{
    padding-top: 80px;
}

.showTime .nav-tabs .nav-item .nav-link, .nav-tabs .nav-link.active, .showTime .nav-tabs .nav-link:hover{
    border: white;
}

.showTime .nav-tabs .nav-item .nav-link{
    position: relative;
    color: #4a4a4a;
    padding: 10px 30px;
}

.showTime .nav-tabs .nav-link::after{
    content: ' ';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all .7s;
}

.showTime .nav-tabs .nav-link:hover:after{
    width: 100%;
    background: linear-gradient(to right, #fbbd61, #ec7532);
}

.showTime .nav-tabs .nav-link.active::after{
    content: ' ';
    width: 100%;
    height: 3px;
    position: absolute;
    bottom: -1px;
    left: 0;
    transition: all .7s;
    background: linear-gradient(to right, #fbbd61, #ec7532);
}

.showTime__detail h3{
    font-size: 14px;
    color: #ec7532;
    letter-spacing: 2px;
    margin-bottom: 0;
}

.showTime__detail h4{
    font-size: 24px;
    letter-spacing: 3px;
    font-weight: 300;
    color: #101010;
    margin-bottom: 10px;
}

.showTime__detail p{
    font-size: 16px;
    color: #101010;
    margin-bottom: 20px;
}

.showTime__detail a{
    font-size: 12px;
    letter-spacing: 4px;
    color: #ec7532;
    text-decoration: none;
    margin-bottom: 20px;
}

.showTime__detail .showTime__angle{
    color: #ec7532;
    padding-left: 5px;
}

.showTime__detail i, .showTime__detail span{
    font-size: 14px;
    color: #101010;
}

.showTime__detail .showTime__length{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    line-height: 33px;
    text-align: center;
    padding: 10px;
    margin-left: 15px;
    font-weight: 700;
    font-size: 13px;
}

.showTime__detail .showTime__viewing{
    font-size: 12px;
    padding-left: 5px;
}

.showTime img{
    border-radius: 10px;
}

/* COMINGSOON */
.comingSoon{
    margin-top: 80px;
    background-color: black;
}

.coming__detail{
    padding-top: 50px;
}

.coming__bg{
    padding: 80px 0;
    background-image: url('../img/slide-3.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.comingSoon h1{
    color: white;
    font-size: 18px;
    letter-spacing: 2px;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: solid 1px rgba(0, 0, 0, 0.1);
    position: relative;
}

.comingSoon h1::after{
    content: '';
    width: 160px;
    height: 3px;
    background: linear-gradient(to right, #fbbd61, #ec7532);
    position: absolute;
    bottom: -1px;
    left: 0;
}

.comingSoon h2{
    font-size: 14px;
    color: #ec7532;
    letter-spacing: 3px;
}

.comingSoon .coming__star i{
    font-size: 14px;
    color: #fbbd61;
}

 .coming__detail .coming__date{
    color:white;
    opacity: 0.75;
    margin-left: 10px;
    font-size: 14px;
}

.comingSoon a{
    color: #ec7532;
    letter-spacing: 4px;
    font-size: 12px;
    text-decoration: none;
}

.comingSoon .coming__trailer i{
    color: #ec7532;
}

.coming__trailer{
    position: relative;
}

.coming__trailer i{
    width: 84px;
    height: 84px;
    display: block;
    border: solid 2px #ec7532;
    border-radius: 50%;
    text-align: center;
    line-height: 82px;
    position: absolute;
    top: 40%;
    left: 45%;
    transform: translate(-50%,-50%);
    transform: scale(0.9);
    transition: all .5s;
    cursor: pointer;
}

.coming__trailer:hover i{
    transform: scale(1);
}

/* MOVIELIST */
.movieList{
    background-color: #101010;
}

.movieList .movieList__detail{
    text-align: center;
}

.movieList__detail h1{
    font-size: 16px;
    margin-top: 20px;
    color: white;
}

.movieList__detail p{
    font-size: 14px;
    color: white;
    opacity: .5;
    margin-bottom: 16px;
}

/* CONTACT */
.contact{
    padding: 50px 0;
}

.contact__detail{
    text-align: center;
}

.contact__detail p{
    font-size: 20px;
    font-weight: 300;
    color: #4a4a4a;
    letter-spacing: 1px;
}

.contact__detail h1{
    font-size: 46px;
    color: #ec7532;
}

/* FOOTER */
footer{
    background-color: #101010;
}

.footer__detail{
    padding: 75px 0;
}

.footer__detail h1{
    font-size: 16px;
    color: #ec7532;
    letter-spacing: 2px;
    padding-bottom: 20px;
}

.footer__detail p{
    font-size: 13px;
    color: white;
    letter-spacing: 1.5px;
    margin-bottom: 0;
    padding-bottom: 3px;
    transition: all .5s;
    cursor: pointer;
}

.footer__detail i{
    color: white;
    opacity: .5;
    margin-right: 50px;
    justify-content: center;
    transition: all .5s;
}

.footer__detail p:hover{
    color: #fbbd61;
}

.footer__detail p:hover i{
    color: #fbbd61;
    opacity: 1;
}

.footer__end p{
    font-size: 14px;
    text-align: left;
    color: white;
    margin-bottom: 0;
    border-top: 1px solid rgba(255,255,255,.1);
    padding: 20px 0;
}
